{% extends 'base.html' %}

{% block content %}

    {% for job in job_list %}

        <div class="panel panel-default">
        <a href="{% url 'user-job-detail' job.id %}">
            <div class="panel-heading">
                <h2 class="panel-title"><b>{{ job.company.name }}</b> {{ job.title }} </h2>
                <span class="label label-default">{{ job.created }}</span>
                <span class="label label-info">{{ job.employment_grade }}%</span>
                <span class="label label-warning">{{ job.min_degree }}</span>
            </div>
            <div class="panel-body">
                <p>{{ job.description }}</p>
            </div>
            </a>
        </div>

        {% empty %}
            <p>No job offers</p>
        {% endfor %}


{% endblock %}