{% extends 'base.html' %}

{% block title %}
    CV
{% endblock %}

{% block left_panel %}

    <ul id="myTabs" class="nav nav-tabs nav-stacked" role="tablist">
        <li role="presentation">
            <a href="#education" aria-controls="home" role="tab"
                                   data-toggle="tab">Education</a></li>
        <li role="presentation">
            <a href="#experience" aria-controls="profile" role="tab"
                                   data-toggle="tab">Experience</a></li>
        <li role="presentation">
            <a href="#skill" aria-controls="messages" role="tab" data-toggle="tab">Skills</a>
        </li>
        <li role="presentation">
            <a href="#language" aria-controls="settings" role="tab" data-toggle="tab">Language</a>
        </li>
    </ul>

{% endblock %}

{% block right_panel %}

    <div class="col-sm-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="education">{% include 'cv/education_list.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="experience">{% include 'cv/experience_list.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="skill">{% include 'cv/skill_list.html' %}</div>
            <div role="tabpanel" class="tab-pane" id="language">{% include 'cv/language_list.html' %}</div>
        </div>
    </div>

{% endblock %}