<div class="row">

        {% for language in language_list %}
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <a class="language-panel user-panel-title" href="#">{{ language.language }}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Level: {{ language.level }}</p>
                        <a href="{% url 'user-language-update' user.username language.id %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'user-language-delete' user.username language.id %}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

</div>

<a href="{% url 'user-language-add' user.username %}" class="btn btn-link btn-block">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New language
</a>


