{% extends 'base.html' %}

{% block title %}
    Job offers
{% endblock %}

{% block left_panel %}

    <a href="{% url 'company-job-create' user.profile.company.slug %}" class="btn btn-primary btn-block">Create
        a new Job offer</a>
    <ul id="myTabs" class="nav nav-tabs nav-stacked" role="tablist">
        {% for job in jobs_list %}
            <li role="presentation" class="">
                <a href="#{{ job.slug }}" aria-controls="{{ job.slug }}" role="tab" data-toggle="tab">{{ job.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block right_panel %}

    <div class="tab-content">
        {% for job in jobs_list %}
            <div role="tabpanel" class="tab-pane fade" id="{{ job.slug }}">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a href="{% url 'company-job-detail' user.profile.company.slug job.id %}">
                            <h2 class="panel-title"><b>{{ job.company.name }}</b> {{ job.title }} </h2>
                        </a>
                        <span class="label label-default">{{ job.start_date }}{% if job.end_date %} -
                            {{ job.end_date }}{% endif %}</span>
                        <span class="label label-default">{{ job.employment_grade }}%</span>
                        <span class="label label-default">{{ job.min_degree }}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{ job.description }}</p>
                        <a href="{% url 'company-job-update' user.profile.company.slug job.id %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'company-job-delete' user.profile.company.slug job.id %}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <blockquote>
                <p>You have currently no jobs to offer. Click the button on the left to create a new one</p>
            </blockquote>
        {% endfor %}
    </div>

{% endblock %}