{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'company-job-create' request.user.profile.company.id %}" class="btn btn-primary btn-block">Create a
        new Job offer</a>
    <br/>

    {% for job in jobs_list %}

        <div class="panel panel-default">
            <a href="{% url 'company-job-detail' job.id %}">
                <div class="panel-heading">
                    <h2 class="panel-title"><b>{{ job.company.name }}</b> {{ job.title }} </h2>
                    <span class="label label-default">{{ job.created }}</span>
                    <span class="label label-info">{{ job.employment_grade }}%</span>
                    <span class="label label-warning">{{ job.min_degree }}</span>
                </div>
            </a>
            <div class="panel-body">
                <p>{{ job.description }}</p>

                <a href="{% url 'company-job-update' job.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'company-job-delete' job.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>

    {% endfor %}


{% endblock %}