{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    {# CSS Files #}

    <link rel="stylesheet" href="{% static 'css/auth_style.css' %}">
</head>
<body>

<div class="login-page">
    <div class="form">
        {% block form %}

        {% endblock %}
    </div>
</div>


{# Javascript Files #}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

{% comment %}<script>
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>{% endcomment %}

</body>
</html>