{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "log-in" %} Login
            </button>
            <a href="{% url 'password_reset' %}">Forgot password? No problem</a>
        {% endbuttons %}
    </form>

    <p>No account yet? <a href="{% url 'registration' %}">Click here to sign up</a></p>


{% endblock %}