{% extends 'form.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block extra_head %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ application_element_form.prefix }}").formset({
                prefix: "{{ application_element_form.prefix }}"
            })
        })
    </script>
{% endblock %}

{% block form %}

    <h2>Create Process</h2>

        <fieldset>
            <legend>Application Elements:</legend>
            {{ application_element_form.management_form }}
            {{ application_element_form.non_form_errors }}
            {% for form_inline in application_element_form %}
                {{ form_inline.id }}
                    <div class="inline {{ instruction_form.prefix }}">
                        {{ form_inline.title.errors }}
                        {{ form_inline.title.label_tag }}
                        {{ form_inline.title }}
                    </div>
            {% endfor %}
        </fieldset>

{% endblock %}

{% block buttons %}
    <button type="submit" class="btn btn-primary btn-block">
                {% bootstrap_icon "thumbs-up" %} Save Process
            </button>
{% endblock %}
