{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1 class="page-header">{{ company.name }}</h1>

    <img src="{{ company.logo_thumbnail.url }}" class="img-responsive pull-right"/>

    <h3>Description</h3>
    <p>{{ company.description }}</p>

    <h3>Size</h3>
    <p>The Company has around {{ company.size }} employees</p>

    <h3>Sector</h3>
    <p>{{ company.sector }}</p>

    <p>For more information look on their website</p>
    <a href="{{ company.website }}" target="_blank">View the Company Website</a>

    <br/>

    <a href="{% url 'company-profile-update' user.profile.company.slug %}" class="btn btn-danger">Edit</a>
{% endblock %}
