{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <img src="{{ company.logo_thumbnail.url }}" alt="Company Logo" class="img-responsive center-block container-margin"
         height="250px" width="250px">


    <div class="row">

    <div class="col-sm-7 col-sm-offset-1">
            <h3>{{ company.name }}</h3>
            <p>{{ company.description }}</p>
        </div>

        <div class="col-sm-3 text-center">
            <h5>Size</h5>
            <p>The Company has around {{ company.size }} employees</p>

            <h5>Sector</h5>
            <p>{{ company.sector }}</p>

            <h5>Website</h5>
            <a href="{{ company.website }}" target="_blank">View the Company Website</a>
        </div>

    </div>

    <a href="{% url 'company-profile-update' user.profile.company.slug %}" class="btn btn-primary pull-right">Edit</a>
{% endblock %}
