{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'company-job-create' request.user.profile.company.id %}"  class="btn btn-primary btn-block">Create a new Job offer</a>
    <br/>

    {% for job in jobs_list %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ job.title }}</h3>
            </div>
            <div class="panel-body">
                <h3>Description</h3>
                <p>{{ job.description }}</p>

                <h4>Employment grade</h4>
                <p>{{ job.employment_grade }} %</p>

                <a href="{% url 'company-job-update' job.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'company-job-delete' job.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>

    {% endfor %}


{% endblock %}