body {
    font-size: 16px;
}

footer {
    background-color: #1a1a1a;
}

.main-container {
    padding-top: 90px;
}

.container-margin {
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonials-margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-top {
    padding-top: 80px;
}

.container-form {
    margin: auto;
    max-width: 600px;
    padding-top: 30px;
}

.jumbotron {
    background-color: #fff;
}