{% extends 'base.html' %}

{% block content %}

    {% if jobs_list %}
        {% for job in jobs_list %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a href="{% url 'application-queue-list' user.profile.company.slug job.id %}">
                        <h2 class="panel-title"><b>{{ job.title }}</b> from {{ job.company }}</h2>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-no-border">
                        {% for queue in job.applications_process.queue_set.all %}
                            <tr>
                                <td>{{ queue.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}