{% extends 'base.html' %}

{% block title %}
    Application List
{% endblock %}

{% block left_panel %}

    <ul id="myTabs" class="nav nav-tabs nav-stacked" role="tablist">
        {% for job in job_list %}
            <li role="presentation">
                <a href="#{{ job.slug }}" aria-controls="{{ job.slug }}" role="tab"
                   data-toggle="tab">{{ job.title }} <span class="badge pull-right">{{ job.application_set.all.count }}</span></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block right_panel %}
    <div class="tab-content">
        {% for job in job_list %}
            <div role="tabpanel" class="tab-pane" id="{{ job.slug }}">
                <div class="row">
                    {% for queue in job.applications_process.queue_set.all %}
                        <div class="col-sm-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title text-center"><b>{{ queue.name }}</b></h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {% for application in job.application_set.all %}
                                            {% if application.queue.id == queue.id %}
                                                <div class="col-sm-6">
                                                    <div class="thumbnail">
                                                        <img src="{{ application.user.profile.avatar_thumbnail.url }}"
                                                             alt="Profile Picture"
                                                             class="img-circle img-responsive"
                                                             height="100px" width="100px">
                                                        <div class="caption text-center">
                                                            <p>{{ application.user.first_name }} {{ application.user.last_name }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}