{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h2 class="page-header">Applications for: {{ job.title }}</h2>
    <div class="row">
        {% for queue in job.applications_process.queue_set.all %}
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center"><b>{{ queue.name }}</b></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for application in job.application_set.all %}

                                {% if application.queue.id == queue.id %}
                                    <div class="col-sm-4">
                                        <div class="thumbnail">
                                            <img src="{{ application.user.profile.avatar_thumbnail.url }}"
                                                 alt="Profile Picture"
                                                 class="img-circle img-responsive"
                                                 height="100px" width="100px">
                                            <div class="caption text-center">
                                                <h5>{{ application.user.first_name }} {{ application.user.last_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'application-company-application-list' user.profile.company.slug %}" class="btn btn-danger">Back to
        applications</a>
{% endblock %}
