{% extends 'base.html' %}

{% block content %}

    <h1 class="page-header">Application Processes</h1>
    
    {% if process_list %}
        {% for process in process_list %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>
                                <a class="process-panel user-panel-title"
                                   href="#">{{ process.name }}</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-no-border">
                                {% for queue in process.queue_set.all %}
                                    <tr>
                                        <td>{{ forloop.counter }} - {{ queue.name }}</td>
                                        <td>{{ queue.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <a href="{% url 'application-process-update' request.user.profile.company.slug process.id %}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'application-process-delete' request.user.profile.company.slug process.id %}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>You have no Application processes. Please create one.</h4>
    {% endif %}



    <a href="{% url 'application-process-create' request.user.profile.company.slug %}" class="btn btn-link btn-block">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new Application Process
    </a>

{% endblock %}
