{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bottom_script %}{{ block.super }}
    <script type="text/html" id="queue-template">
    <div id="queue-__prefix__">
        {% bootstrap_form formset.empty_form %}
    </div>
    </script>
    <script>
    $(function() {
        $('.add-queue').click(function(ev){
            ev.preventDefault();
            var count = parseInt($('#id_queue_set-TOTAL_FORMS').attr('value'), 10);
            console.log(count);
            var tmplMarkup = $('#queue-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            console.log(compiledTmpl);
            $('div.queues').append(compiledTmpl);
            $('#id_queue_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
    </script>
{% endblock %}

{% block content %}

    <h2>Create Process</h2>
    <form action="." method="post">

        {{ formset.management_form }}
        {% csrf_token %}

        <legend>Application Process:</legend>
        <div class="process">
            {% bootstrap_form form %}
        </div>

        <legend>
            <div class="pull-right"><a href="#" class="btn btn-inverse add-queue"><i class="icon-plus icon-white"></i> Add Application Element</a></div>
            Application Elements
        </legend>

         <div class="queues form-inline">
            {% for form in formset %}
                {{ form.id }}
                {% bootstrap_form form %}
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            {% bootstrap_icon "thumbs-up" %} Save Process
        </button>
    </form>

{% endblock %}

