{% extends 'base.html' %}

{% block content %}

    {% if application_list %}
        {% for application in application_list %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a href="{% url 'application-user-queue-list' request.user.username application.id %}">
                        <h2 class="panel-title"><b>{{ application.job.title }}</b> from {{ application.job.company }}</h2>
                    </a>
                </div>
                <div class="panel-body">
                    <p>{{ application.queue.name }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No applications until now!</p>
    {% endif %}

{% endblock %}