<nav class="navbar navbar-default navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Kyber</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {# Left Navbar #}
            {% if user.is_authenticated %}

                <ul class="nav navbar-nav">

                    {% if user.profile.is_company_user %}

                        <li><a href="{% url 'company-job-list' request.user.profile.company.id %}">Job offers</a></li>

                        <li><a href="#">Applications</a></li>

                        <li><a href="#">Search Candidates</a></li>

                    {% else %}

                        <li><a href="#">Search Jobs</a></li>

                        <li><a href="#">Applications</a></li>

                        <li><a href="#">Softskill checker</a></li>

                    {% endif %}

                </ul>

            {% else %}

                <ul class="nav navbar-nav">

                    <li class="{% if request.resolver_match.url_name == 'user-home' %}active{% endif %}">
                        <a href="{% url 'user-home' %}">Find your dreamjob</a>
                    </li>

                    <li class="{% if request.resolver_match.url_name == 'company-home' %}active{% endif %}">
                        <a href="{% url 'company-home' %}">Find the needed employee</a>
                    </li>

                </ul>

            {% endif %}


            {# Left Navbar #}
            <ul class="nav navbar-nav navbar-right">


                {% if user.is_authenticated %}

                    {% if user.profile.is_company_user %}

                        <li><a href="{% url 'company-profile' request.user.profile.company.id %}">Company Profile</a></li>

                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user-profile' request.user.id %}">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>

                {% else %}

                    <li><a href="{% url 'login' %}">Login</a></li>

                    <li><a href="{% url 'registration' %}">Register</a></li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>